#blink {
    animation: blinker 0.75s linear infinite;
    border-left: 7px solid white;
    margin: 0 0 0 -20px;
    box-shadow: 2px 2px rgba( 0, 0, 0, 0.2);
}

@keyframes blinker {
  50% { opacity: 0.0; }
}

html, body{
    height: 100%;
    width: 100%;
    background: #03A9F4;
    color: white;
    font-family: Arial;
    margin: 0;
}

#text-container{
    position: absolute;
    top: 0;
    left: 40px;
    right: 40px;
    bottom: 0;
    margin: auto 0;
    height: 100px;
    line-height: 100px;
    font-size: 100px;
    text-align: center;
}

#text{
    text-transform: capitalize;
    text-shadow: 2px 2px rgba( 0, 0, 0, 0.2);
}